<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stoquette</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>

    <header>
        <h1>Stoquette</h1>
    </header>

    <main>
        <h2>Your Simplified Guide to Stock Insights</h2>
        

        <div class="bubble-container">
            <!-- First Bubble -->
            <div class="bubble">
                <h2>Bubble 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec elit vel nisl consectetur commodo.</p>
            </div>

            <!-- Second Bubble -->
            <div class="bubble">
                <h2>Bubble 2</h2>
                <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>

    <script src = "app.js"></script>
</body>
</html>
